
body{
    font-family: 'Lato', sans-serif;
}

.color-defult {
    color: #3c843b;
}

.bg-defult {
    background: #00ac7a;
}

i.far, i.fas{
    font-size: 1.2rem;
}

input:focus, button:focus, select:focus, .btn-primary:focus, .form-control:focus, a:focus, .btn:focus, .btn-link:focus{
    box-shadow: none;
} 